@import "https://fonts.googleapis.com/css?family=Source+Sans+Pro:500";
@-webkit-keyframes blink {
  0%,50%,100% {
    opacity: 1;
  }
  25%,75% {
    opacity: 0;
  }
}
@keyframes blink {
  0%,50%,100% {
    opacity: 1;
  }
  25%,75% {
    opacity: 0;
  }
}


form {
  position: relative;
  
}
form input[type="text"] {
  padding: 6px 14px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -o-border-radius: 20px;
  border-radius: 20px;
  outline: none;
  border: 2px solid #ff3628;
  background: transparent;
  width: 40px;
  color: #ff3628;
  font-weight: bold;
  -webkit-transition: all 0.5s cubic-bezier(0.77, 0, 0.175, 1);
  -moz-transition: all 0.5s cubic-bezier(0.77, 0, 0.175, 1);
  -ms-transition: all 0.5s cubic-bezier(0.77, 0, 0.175, 1);
  -o-transition: all 0.5s cubic-bezier(0.77, 0, 0.175, 1);
  transition: all 0.5s cubic-bezier(0.77, 0, 0.175, 1);
}
form input[type="text"].active {
  width: 200px;
}
form .search {
  height: 25px;
  width: 2px;
  display: inline-block;
  background: #ff3628;
  -webkit-transition: all 0.5s cubic-bezier(0.77, 0, 0.175, 1);
  -moz-transition: all 0.5s cubic-bezier(0.77, 0, 0.175, 1);
  -ms-transition: all 0.5s cubic-bezier(0.77, 0, 0.175, 1);
  -o-transition: all 0.5s cubic-bezier(0.77, 0, 0.175, 1);
  transition: all 0.5s cubic-bezier(0.77, 0, 0.175, 1);
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  -webkit-transform: translate(2px, 32px) rotate(-45deg);
  -moz-transform: translate(2px, 32px) rotate(-45deg);
  -ms-transform: translate(2px, 32px) rotate(-45deg);
  -o-transform: translate(2px, 32px) rotate(-45deg);
  transform: translate(2px, 32px) rotate(-45deg);
}
form .search.move {
  -webkit-animation: blink 3s both .7s infinite;
  animation: blink 3s both .7s infinite;
  -webkit-transform: translate(-188px, 8px) rotate(0deg);
  -moz-transform: translate(-188px, 8px) rotate(0deg);
  -ms-transform: translate(-188px, 8px) rotate(0deg);
  -o-transform: translate(-188px, 8px) rotate(0deg);
  transform: translate(-188px, 8px) rotate(0deg);
}
